#custom-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999;
    width: 300px;
    max-width: calc(100vw - 40px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* visibility: hidden; */
    transition: opacity 0.3s, visibility 0.3s;
    min-height: 100px;
}
